<!-- src/app/movie-card/movie-card.component.html -->
<!-- <mat-card *ngFor="let movie of movies; let i=index;">
  <mat-dialog-content>
    <mat-card-title>{{movie.Title}}</mat-card-title>
    <mat-card-subtitle><img src={{movie.ImagePath}} /></mat-card-subtitle>
  </mat-dialog-content>
</mat-card> -->

<div style="display: flex; flex-direction: column;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto; max-width: 400px">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} width="100%" height="width*1.5" style="max-width: 400px" />
    <mat-card-actions>
      <button mat-button color="primary" (click)="navGenre(movie.Genre.Name)">
        Genre
      </button>
      <button mat-button color="primary" (click)="navDirector(movie.Director.Name)">
        Director
      </button>
      <button mat-button color="primary" (click)="navMovie(movie.Title)">
        Synopsis
      </button>
      <button *ngIf="favoriteMovies.indexOf(movie._id) === -1" mat-button color="primary" (click)="addFavorite(movie)">
        <mat-icon color="warn">favorite_border</mat-icon>
      </button>
      <button *ngIf="favoriteMovies.indexOf(movie._id) > -1" mat-button color="primary" (click)="removeFavorite(movie)">
        <mat-icon color="warn">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>